Cracking the IT Architect Interview - Sameer Paradkar.pdf
Karim R., Kaysar M. - Large Scale Machine Learning with Spark - 2016.pdf
Mastering Apache Flink.pdf
Mastering-Microservices-with-Java.pdf
Microservices Building Scalable Software.pdf
Microservices Deployment Cookbook.pdf
Packt.Akka.Cookbook.B01KI1F316.pdf
Santacroce F. - Git. Mastering Version Control - 2016.PDF
Scala Test-Driven Development.pdf
Spring Developing Java Applications for the Enterprise.pdf
Spring Microservices.pdf
Spring MVC Designing Real-World Web Applications - Shameer Kunjumohamed.pdf
